/* required part */
.beautify-select span {
  position:relative;
 }

/* here should be dynamic width, you can change by your code*/
.beautify-select select {
  width:350px;
  padding:5px;
}
.beautify-select select.display-select option {
  display:none;
}
.beautify-select select.value-select {
  position:absolute;
  left:0px;
  display:none;
}

.beautify-select select.value-select.display-value-as-column option:before {
  content:attr(value);
  display: inline-block;
  /* here should be dynamic width, you can change by your code*/
  width: 80px;
  left:80px;  
}
