/* required part */
.select-value-to-column span {
  position:relative;
 }
.select-value-to-column select {
  width:350px;
  padding:5px;
}
.select-value-to-column select.display-select option {
  display:none;
}
.select-value-to-column select.value-select {
  position:absolute;
  left:0px;
  display:none;
}
.select-value-to-column select.value-select option:before {
  content:attr(value);
  display: inline-block;
  width: 120px;
  left:120px;  
}
